{% extends "base.html" %}
{% block content %}

<h2>Add a New Booking</h2>

<form action="/bookings" method="POST">
    <div>
        <label for="exercise_class">Exercise Class:</label>
        <select name="exercise_class_id" id="exercise_class">
            {% for exercise_class in exercise_classes %}
            <option value="{{ exercise_class.id }}">
                {{ exercise_class.title }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %}
            <option value="{{ member.id }}">
                {{ member.name }}
            </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}