{% extends "base.html" %}
{% block content %}

<h2>Update an Exercise Class</h2>

<form action="/exerciseclasses/{{ exercise_class.id }}" method="POST">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{ exercise_class.title }}">
    </div>
    <div>
        <label for="instructor">Instructor:</label>
        <input type="text" id="instructor" name="instructor" value="{{ exercise_class.instructor }}">
    </div>
    <div>
        <label for="date">Date (DD/MM/YYYY):</label>
        <input type="text" id="date" name="date" value="{{ exercise_class.date }}">
    </div>
    <div>
        <label for="start_time">Start Time (24hr):</label>
        <input type="text" id="start_time" name="start_time" value="{{ exercise_class.start_time }}">
    </div>
    <div>
        <label for="finish">Finish (24hr):</label>
        <input type="text" id="finish" name="finish" value="{{ exercise_class.finish }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}