{% extends "base.html" %}
{% block content %}

<h2>Exercise Classes</h2>
<div class="classindex">
{% for exercise_class in exercise_classes %}

    <section>
        <h3>{{ exercise_class.title }}</h3>
        <p>Instructor: {{ exercise_class.instructor }}</p>
        <p>Date: {{ exercise_class.date }}</p>
        <p>Start time: {{ exercise_class.start_time }}</p>
        <p>Finish: {{ exercise_class.finish }}</p>
    </section>
    <div>
        <ul>
            <form action="/exerciseclasses/{{ exercise_class.id }}" method="GET">
            <input type="submit" value="Details"></form>
        </ul>
        <ul>
            <form action="/exerciseclasses/{{ exercise_class.id }}/edit" method="GET">
            <input type="submit" value="Edit"></form>
        </ul>
        <ul>
            <form action="/exerciseclasses/{{ exercise_class.id }}/delete" method="POST">
            <input type="submit" value="Delete"></form>
        </ul>
    </div>
</div>
{% endfor %}
{% endblock %}

