.base-container {
    display: grid; 
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.35fr 1fr 0.2fr;
    grid-template-areas: 
    "baseHead"
    "bodyCon"
    "baseFoot";
}

.base-header {
    padding: 1vw;
    padding-left: 10vw;
    background: radial-gradient(circle, transparent 20%, #0d0d0d 20%, #0d0d0d 80%, transparent 80%, transparent) 0% 0% / 58px 58px, radial-gradient(circle, transparent 20%, #0d0d0d 20%, #0d0d0d 80%, transparent 80%, transparent) 29px 29px / 58px 58px, linear-gradient(#2c2c2c 4px, transparent 4px) 0px -2px / 29px 29px, linear-gradient(90deg, #2c2c2c 4px, #0d0d0d 4px) -2px 0px / 29px 29px #0d0d0d;
    background-color: #0d0d0d;
    color: #ffffff;
    width: 100vw;
    height: 15vw;
    grid-area: baseHead; 
}

.body-container {
    font-size: 2vw;
    overflow: auto;
}

.base-footer {
    padding: 1vw;
    background: radial-gradient(circle, transparent 20%, #0d0d0d 20%, #0d0d0d 80%, transparent 80%, transparent) 0% 0% / 58px 58px, radial-gradient(circle, transparent 20%, #0d0d0d 20%, #0d0d0d 80%, transparent 80%, transparent) 29px 29px / 58px 58px, linear-gradient(#2c2c2c 4px, transparent 4px) 0px -2px / 29px 29px, linear-gradient(90deg, #2c2c2c 4px, #0d0d0d 4px) -2px 0px / 29px 29px #0d0d0d;
    background-color: #0d0d0d;
    color: #ffffff;
    width: 100vw;
    height: auto;
    text-align: center;
    grid-area: baseFoot;
}

.menu {
    display: flex;
    align-items: flex-start;
    font-size: 2vw;
    margin: 0vw 10vw 10vw 0vw;
    position: relative;
    /* display: inline-block; */
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Dropdown Button */
.dropbtn {
    background: none;
    /* background-color: #04AA6D; */
    color: white;
    padding: 16px;
    font-size: 2vw;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    overflow: visible;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #2c2c2c;} */

  .dropbtn:hover {background-color: #2c2c2c;}
