.member-container {
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "mTitle mTitle mTitle mTitle mTitle mTitle mTitle mTitle"
    "mtile mtile mtile mtile mtile mtile mtile mtile"; */
}

/* "mtile mtile mtile mtile mtile mtile mtile mtile" */
    /* "mInfo mInfo mInfo mInfo mInfo mInfo mInfo mInfo" */

#member-title {
    /* grid-area: mTitle; */
}

.tile {
    /* grid-area: mtile; */
    display: flex;
    align-items: flex-start;
    flex: 2 1 auto;
    flex-wrap: wrap;
    gap: 1vw;
}

.tile-info {
    background-color: blue;
    width: 15vw;
    height: 16vw;
    /* margin: 1vw;*/
    padding: 1vw; 
    grid-area: mInfo;
}