* {
    font-family: 'Bebas Neue', cursive;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container1{
    background-image: url("https://images.unsplash.com/photo-1540496905036-5937c10647cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-size: 100%;
    background-repeat: no-repeat;
    display: grid; 
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    "header1 header1 header1 header1"
    "homeLink homeLink homeLink homeLink"
    "footer1 footer1 footer1 footer1";
}

/* home page styling */
.header1{
    padding: 1vw;
    background-color: #0d0d0d;
    color: #ffffff;
    width: 100vw;
    height: auto;
    grid-area: header1; 
}

.home-links {
    padding: 1em;
    padding-top: 1vh;
    padding-bottom: 1vh; 
    width: 100vw;
    height: auto;
    grid-area: homeLink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "member booking classes staff";
}

.footer1{
    padding: 1vw;
    background-color: #0d0d0d;
    color: #ffffff;
    width: 100vw;
    height: auto;
    text-align: center;
    grid-area: footer1;
}

#member-home {
    background-color: #F2C335;
    opacity: 0.9;
    margin: 1em;
    padding: 1em 1em 18em;
    font-size: 15pt;
    grid-area: member;
}

#class-home {
    background-color: #F2C335;
    opacity: 0.9;
    margin: 1em;
    padding: 1em 1em 18em;
    font-size: 15pt;
    grid-area: classes;
}

#booking-home {
    background-color: #F2C335;
    opacity: 0.9;
    margin: 1em;
    padding: 1em 1em 18em;
    font-size: 15pt;
    grid-area: booking;
}

#staff-home {
    background-color: #F2C335;
    opacity: 0.9;
    margin: 1em;
    padding: 1em 1em 18em;
    font-size: 15pt;
    grid-area: staff;
}

/* base css */
.header{
    background-color: #0d0d0d;
    color: #ffffff;
}

