* {
    font-family: 'Bebas Neue', cursive;
}

.container1 {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.2fr 0.5fr 0.1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header1 header1 header1 header1"
    "memberhome classhome bookinghome staffhome"
    "footer1 footer1 footer1 footer1"
;
}

.header1{
    background-color: hotpink;
    grid-area: header;
}

#memberhome {
    grid-area: memberhome;
}

#classhome {
    grid-area: classhome;
}

#bookinghome {
    grid-area: bookinghome;
}

#staffhome {
    grid-area: staffhome;
}

.footer1{
    background-color: yellow;
    grid-area: footer;
}