<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='baseStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='contentStyle.css') }}">
    <title>Gym App</title>
</head>

<body class="base-container">
    <header class="base-header">
        <h1 class="logo">ENRG GYM</h1>
        <nav class="menu">
            <ul class="menu">
                <a class="dropbtn" href="/" style="text-decoration: none;">Home</a>
                <li>
                    <div class="dropdown">
                        <p class="dropbtn">Members</p>
                        <div class="dropdown-content">
                            <a href="/members">All</a>
                            <a href="/members/new">Add</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Classes</button>
                        <div class="dropdown-content">
                            <a href="/exerciseclasses">All</a>
                            <a href="/exerciseclasses/new">Add</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Bookings</button>
                        <div class="dropdown-content">
                            <a href="/bookings">All</a>
                            <a href="/bookings/new">Add</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">Staff</button>
                        <div class="dropdown-content">
                            <a href="/">All</a>
                            <a href="/">Add</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <div class="body-container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="base-footer">
        <!-- {% block footer %} -->
        © Gym App
        <!-- {% endblock %} -->
    </footer>
</body>
</html>