{% extends "base.html" %}

{% block content %}
<body>
    <div class="homecontainer">
        <ul>
            Members
            <ul>
                <ul><a href="/members">All Members</a></ul>
                <ul><a href="/members/new">Add Members</a></ul>
            </ul>
        </ul>
        <ul class="homemenu">
            Classes
            <ul>
                <ul><a href="/exerciseclasses">All Classes</a></ul>
                <ul><a href="/exerciseclasses/new">Add Classes</a></ul>
            </ul>
        </ul>
        <ul class="homemenu">
            Bookings
            <ul>
                <ul><a href="/bookings">All Bookings</a></ul>
                <ul><a href="/bookings/new">Add Bookings</a></ul>
            </ul>
        </ul>
        <ul class="homemenu">
            Staff
            <ul>
                <ul><a href="/">All Staff</a></ul>
                <ul><a href="/">Add Staff</a></ul>
            </ul>
        </ul>
    </div>
</body>
{% endblock %}
