<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Gym App</title>
</head>
<body class="container1">
    <header class="header1">
        <h1 class="logo">ENRG Gym</h1>
    </header>
    <nav class="home-links">
        <ul class="home-menu" id="member-home">
            <h2>Members</h2>
            <li><a href="/members" class="home-link">All Members</a></li>
            <li><a href="/members/new" class="home-link">Add Members</a></li>
        </ul>
        <ul class="home-menu" id="class-home">
            <h2>Classes</h2>
            <li><a href="/exerciseclasses" class="home-link">All Classes</a></li>
            <li><a href="/exerciseclasses/new" class="home-link">Add Classes</a></li>
        </ul>
        <ul class="home-menu" id="booking-home">
            <h2>Bookings</h2>
            <li><a href="/bookings" class="home-link">All Bookings</a></li>
            <li><a href="/bookings/new" class="home-link">Add Bookings</a></li>
        </ul>
        <ul class="home-menu" id="staff-home">
            <h2>Staff</h2>
            <li><a href="/" class="home-link">All Staff</a></li>
            <li><a href="/" class="home-link">Add Staff</a></li>
        </ul>
    </nav>
    <footer class="footer1">
        © ENRG Gym
    </footer>
</body>

