<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Gym App</title>
</head>
<body class="container1">
    <header class="header1">
        <h1>ENRG Gym</h1>
    </header>
    <nav class="home-links">
        <ul class="homemenu" id="member-home">
            Members
            <li><a href="/members">All Members</a></li>
            <li><a href="/members/new">Add Members</a></li>
        </ul>
        <ul class="homemenu" id="class-home">
            Classes
            <li><a href="/exerciseclasses">All Classes</a></li>
            <li><a href="/exerciseclasses/new">Add Classes</a></li>
        </ul>
        <ul class="homemenu" id="booking-home">
            Bookings
            <li><a href="/bookings">All Bookings</a></li>
            <li><a href="/bookings/new">Add Bookings</a></li>
        </ul>
        <ul class="homemenu" id="staff-home">
            Staff
            <li><a href="/">All Staff</a></li>
            <li><a href="/">Add Staff</a></li>
        </ul>
    </nav>
    <footer class="footer1">
        © ENRG Gym
    </footer>
</body>

